@model MOEntities.Room
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>Oda Ekle</h3>
    <div class="col-md-10">
        @using (Html.BeginForm("Edit", "Room", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                @Html.LabelFor(model => model.RoomName)
                @Html.TextBoxFor(model => model.RoomName, new { @class = "form-control" })
            </div>
            <div class="row">
                @Html.ActionLink("Listeye Geri Dön", "Index", null, null, null, null, null, htmlAttributes: new { @class = "btn btn-danger", @style = "margin-top:10px" })
                <input type="submit" style="margin-top:10px" class="btn btn-primary" value="Kaydet" />
            </div>
        }
    </div>
    <div class="col-md-3">
        <p class="alert-danger">
            @if (!string.IsNullOrEmpty(ViewBag.HataMesaji))
            {
                @Html.Raw(ViewBag.HataMesaji);
            }
        </p>
    </div>
</div>

